#navbarNav a{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    background-color:rgb(245, 55, 55);
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }
  .container {
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
form{
    width: 500px;
    margin: auto;
}

.footer{
  color:#fff;
  background-color: #0d2857;
}

.list-style{
  list-style-type:none!important;
  cursor:pointer;
  font-size:.75rem;
  opacity:.8;
}
.copy-right{
  font-size:.75rem;
  opacity:.8;
}
.Analyst {
  width: 87.7px;
  height: 23.7px;
  margin: 10.7px 0 5.2px 10.2px;
  color: #fff;
}
#about{
  background-color: rgb(177, 176, 165);
  padding: 20px;
  margin-left: 50px;
  border-radius: 20px;
  width: 85%;
  font-size: 25px;
  background-color: rgb(248, 243, 187);
}
#edu{
  width: 90%;
}